{% extends 'nav.html' %}
{%load static%}
{% block content %}
    <div>
        

        <div style="padding: 7% 15%;">
            <h2 style="text-transform: uppercase; text-align: left;">{{title.judul}}</h2>
            <h6>{{title.tanggalArtikel}}</h6>
            <br>
            {% if title.gambar %}
                <img src='{{title.gambar.url}}' class="detail_gambar" alt="gambar artikel" style="width: auto; height:auto; display: block; margin-left: auto; margin-right: auto;">
            {% endif %}
            <br>
            <p style="text-align: justify;">{{title.descArtikel}}</p>
        </div>

    </div>
{% endblock %}