{% extends 'nav.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-4 mt-4 mb-4"></div>
    
    {% for item in judul %}
    <div class="col mb-4">
        <div class="card h-100 article_card">
            {% if item.gambar %}
            <div class="image_box">
                <img src='{{item.gambar.url}}' class="center" alt="{{item.judul}}" style = "width:40%;height:30%; display: block; margin-left: auto; margin-right: auto;">
            </div>
            {% endif %}
            <div class="card-body article_caption">
                <a href="{% url 'article_details' item.judul %}" class="card-title">
                    <h2 style="font-weight: bold; text-align:center;">{{item.judul}}</h2>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
