:root{
    --darkgold:#8e793e;
    --lightgold:#ad974f;
    --lightergold: #EAD58D;
    --lightergold_s:rgba(234, 213, 141, 0.5);
    --dark:#231f20;
    --light: #eaeaea;
    --rlw: 'Raleway';
    --rbt: 'Roboto';
    --rbt_c: 'Roboto Condensed';
}

body{
    background-image: linear-gradient(to bottom right, var(--light), #ffffff, var(--light));
    min-height: 100vh;
}



/* LANDING PAGE */
.wrapper{
    width: 90vw;
    margin: auto;
}

.landing{
    display: flex;
    flex-direction: column;
    background-image: url("/static/1.d4b955f51e5b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.land_button{
    background-color: transparent;
    border: white solid 0.1rem;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: "Roboto";
    padding: 0.75rem;
    margin: 1rem;
}

.land_button:hover{
    background-image: linear-gradient(to bottom right, var(--darkgold), var(--lightgold), var(--lightergold));
}

.land_text{
    color: #ffffff;
    text-align: center;
}



/* SHOP PAGE */
.shop_card:hover{
    background-color: var(--lightergold);
}

.image_box{
    padding: 1rem 0;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: var(--lightergold_s);
}

.shop_image{
    max-height: 100%;
    max-width: 80%;
    /* border-radius */
    display: block;
    margin: auto;
}

.shop_caption{
    text-align: center;
}

.shop_button{
    background-color: transparent;
    border: var(--dark) solid 0.1rem;
    color: var(--dark);
    font-weight: bolder;
    font-size: 100%;
    font-family: "Roboto";
    padding: 0.5rem;
}

.shop_button:hover{
    background-image: linear-gradient(to bottom right, var(--darkgold), var(--lightgold), var(--lightergold));
    color: #ffffff;
}



/* DETAILS PAGE */
.detail_header{
    display: flex;
}

.detail_image{
    max-width: 70vw;
    max-height: 50vh;
}

.button_flex{
    display: flex;
    justify-content: space-evenly;
}

.detail_button{
    background-color: transparent;
    border: var(--dark) solid 0.1rem;
    color: var(--dark);
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: "Roboto";
    padding: 0.5rem;
    width: 10vw;
    font-family: var(--rbt_c);
}

.detail_button:hover{
    background-image: linear-gradient(to bottom right, var(--darkgold), var(--lightgold), var(--lightergold));
    color: #ffffff;
}

.card-body{
    background-color: var(--lightergold_s);
}

.card-title{
    font-weight: bold;
}

.card{
    border: 0.1rem solid var(--dark);
    font-family: var(--rbt_c);
}

.content_flex{
    display:flex;
    justify-content: space-between;
}

/* .transaksi_card{
    width:
} */