{% extends 'nav.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-light">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            {% for key,value in request.session.cart.items %}
            <div class="container" id="barang">
                <div class="row">
                    <div class="col-3">
                        <img src="{{ value.image.url }}" width="150px">
                    </div>
                    <div class="col-7">
                        <h2 class="barang1-typo">
                            <a href="/shop/details/{{value.name}}">{{ value.name }}</a>
                        </h2>
                        <h3>Harga: {{ value.price }}</h3>
                        
                    </div>
                    <div class="col-2">
                        <h1>
                            <a href="{% url 'MobilFav:wish_clear' value.name %}"><i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
            
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


{% endblock %}