{% extends 'nav.html'%}
{% block content %}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">

        <form method="POST" action="">
            {% csrf_token %}
            {% for field in mobil_form.visible_fields %}
            
            <div class="row justify-content-center">
                <div class="col-sm-3">{{field.label_tag}}</div>
                <div class="col-sm-5">{{field}}</div>
            </div>
            
            {% endfor %}
            <div class="row justify-content-center">
                <input class="btn btn-primary my-5 mx-3" type="submit" value="Daftar">
            </div>
        </form>
        {% if status %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    {% if status == 'Sukses Didaftarkan' %}
                    <div class="alert alert-success" role="alert" style="width: 70%;" >
                        Sukses mendaftarkan mobil anda.
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert" style="width: 70%;">
                        Terjadi kesalahan input, silahkan coba lagi
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}