{% extends 'nav.html' %}
{% block content %}
<!-- HEADER: IMAGE, NAME & PRICE, SELLER'S DESC -->
    <div class="detail_header mt-4">
        {% if image %}
        <img src='{{target.image.url}}' class="detail_image" alt="car image">
        {% endif %}

        <div class="right ml-3" style="width: 100%;">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-transform: uppercase;">{{target.name}}</h3>
                    <h5 class="card-title">{{target.price}}</h5>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h3 class="card-title">SELLER'S DETAILS</h3>
                    <div class="content_flex" style="justify-content: start;">
                        <div class="content mr-5">
                            <h5 class="card-text">Nama</h5>
                            <div class="card-text mb-2">{{target.username}}</div>
                        </div>
                        <div class="content">
                            <h5 class="card-text">Lokasi</h5>
                            <div class="card-text">{{target.kota}}</div>        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>



    <!-- ITEM'S DESC -->
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">ITEM'S DESCRIPTION</h3>
            <div class="card-text">{{target.desc}}</div>
        </div>
    </div>



    <!-- REVIEW -->
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">REVIEW</h3>
            {% for item in review %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.username}}
                        <h6>{{item.date}} / {{item.rating}} stars</h6>
                    </h5>
                    <p class="card-text">{{item.pesan}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>



    <!-- TRANSACTIONS -->
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">TRANSACTIONS</h3>
            <div class="content_flex" style="flex-wrap: wrap;">
                {% for transaksis in transaksi %}
                <div class="card mb-2" style="width: 30%;">
                    <div class="card-body">
                        <h5 class="card-title">{{transaksis.tanggal}}</h5>
                        <div class="content_flex">
                            <div class="content">
                                <h5 class="card-text">Penyewa</h5>
                                <div class="card-text mb-2">{{transaksis.penyewa}}</div>
                            </div>
                            <div class="content">
                                <h5 class="card-text">Lama Waktu Sewa</h5>
                                <div class="card-text">{{transaksis.lamaSewa}} hari</div>    
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <!-- RENT BUTTON -->
    <form action="" method="POST">
        {% csrf_token %}
        <div class="button_flex">
            <button class="detail_button mt-3 mb-4" formaction="{% url 'rent_form' target.name %}">RENT</button>
            <button class="detail_button mt-3 mb-4" formaction="{% url 'review_form' target.name %}">REVIEW</button>
            <button class="detail_button mt-3 mb-4" formaction="{% url 'MobilFav:wish_add' target.name %}" onclick="myFunction()">❤️ ADD TO WISHLIST</button>   
        </div>
    </form>
    <script>
        function myFunction() {
          alert("Barang berhasil ditambahkan ke keranjang!");
        }
    </script>

{% endblock %}