{% extends 'nav.html' %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form_wrap mt-4">
            <div class="form">
                {{form.as_p}}
            </div>
            <button type="submit" class="detail_button" style="height:fit-content">Submit</button>
        </div>
    </form>
{% endblock %}