{% extends 'nav.html' %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function() {
        $('.search').keyup(function() {
            if ($('.search').val() != "") {
                $('.content').empty()
                $.ajax({
                    method: 'GET',
                    url: `${window.location.href}api/get_cars_by_query/${$('.search').val()}`,
                    success: resp => {
                        console.log(resp);
                        $.map(resp, function(car) {
                            let dd_temp = `
                                <div class="dropdown">
                                    <a class="dd_name">${car.name}</a>
                                    <p class="dd_harga">Rp. ${car.price},-</p>
                                </div>
                            `
                            $('.content').append(dd_temp);
                        })
                    }
                })
            } else {
                $('.content').empty()                    
            }
        })
    })
</script>

<div class="row row-cols-1 row-cols-md-4 mt-4 mb-4">
    {% for item in cars %}
    <div class="col mb-4">
        <div class="card h-100 shop_card">
            {% if item.image %}
            <div class="image_box">
                <img src='{{item.image.url}}' class="shop_image rounded" alt="car image">
            </div>
            {% endif %}
            <div class="card-body shop_caption">
                <h4 class="card-title" style="font-weight: bold;">{{item.price}}</h4>
                <p class="card-text">{{item.tahun}} {{item.name}}</p>
                <a href="{% url 'details' item.name %}" class="btn shop_button">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="dd_container">
    <h1>Looking for suggestions?</h1>

    <input class="search" placeholder="search for suggestions" type="text">

    <div class="content"></div>    
</div>
{% endblock %}



