{% extends 'base.html' %}
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ALX</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNavigation" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop' %}">SHOP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'article' %}">ARTICLES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/shop/daftar">DAFTAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist">FAVORIT</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}