{% extends 'nav.html' %}
{% block index %}
    <div class="landing">
        <h1 class="land_text">Ready to start your journey?</h1>
        <form action="{% url 'shop' %}" method="POST">
            {% csrf_token %}
            <button class="land_button">RENT NOW</button>
        </form>
    </div>
{% endblock %}